/node_modules
/public/packs
/public/sw.js
/public/hot
/public/storage
/storage/*.key
/vendor
/.idea
/.vagrant
Homestead.json
Homestead.yaml
npm-debug.log
yarn-error.log
.env
laravel-echo-server.json

/mariadb
/redis

.env
*.log
*.pid
!.keep
!.gitkeep

*.code-workspace
