.compact-stpack a {
  display: flex;
  padding: 8px;
  box-sizing: border-box;
  border-radius: 6px;
  text-decoration: none;

  &:not(:last-child) {
    margin-bottom: 4px;
    border-bottom: 1px solid $p500;
  }

  &:hover {
    background-color: $p500;
  }
}

.compact-stpack__thumbnail {
  flex-grow: 0;
  flex-shrink: 0;
  width: 120px;
  height: auto;
  margin-right: 8px;
}

.compact-stpack__meta {
  flex-grow: 1;
}

.compact-stpack__title {
  color: $t500;
  font-size: 18px;
  font-weight: bold;
}

.compact-stpack__time {
  color: $t100;
}
