.recent-stpacks {
  margin-bottom: 8px;
  padding: 8px 16px;
  box-sizing: border-box;
  border-radius: 6px;
  border: 1px solid $p500;
  background-color: $p000;
  overflow: hidden;

  @media screen and (min-width: 700px) {
    padding: 24px 36px;
  }
}

.recent-stpacks__scroll-container {
  height: 700px;
  overflow-y: scroll;
}
