.sticker {
  position: relative;
  border-radius: 6px;
  border: 1px solid transparent;

  &:hover {
    background-color: $p100;
    border-color: $p500;
  }
}

.sticker-emoji-selector {
  img {
    opacity: 0.5;
  }

  &--specified {
    &:hover {
      background-color: transparent;
      border-color: transparent;
    }

    img {
      opacity: 1;
    }
  }
}

.sticker-emoji-selector__actions {
  display: flex;
}

.sticker_emojis-list {
  flex-grow: 1;
  display: flex;
  justify-content: flex-start;
  bottom: 8px;
  left: 0;
  width: 100%;
  box-sizing: border-box;
}

.sticker_emojis-list-item {
  flex-grow: 0;
  flex-shrink: 0;
  margin-left: 4px;
}

.sticker-emoji-button {
  font-size: 36px;
  padding: 4px;
  font-size: 18px;
  height: 31px;
  border-radius: 6px;
  border: 1px solid $p500;
  background-color: $p100;

  &:hover {
    border-color: $red;
    background-color: lighten($red, 40%);
  }
}

.sticker_add-emojis {
  flex-grow: 0;
  flex-shrink: 0;
  padding: 4px;
  font-size: 18px;
  width: 31px;
  height: 31px;

  & > i {
    color: $white;
  }
}
