.sticker {
  position: relative;
  padding: 2px;
  box-sizing: border-box;
  border-radius: 6px;
  border: 1px solid transparent;

  &:hover {
    background-color: $p100;
    border-color: $p500;
  }

  @media screen and (min-width: 700px) {
    padding: 8px;
  }
}

.sticker-emoji-selector:hover {
  background-color: transparent;
  border-color: transparent;
}

.sticker_emojis-list {
  display: flex;
  justify-content: flex-end;
  position: absolute;
  bottom: 8px;
  left: 0;
  width: 100%;
  padding: 4px 8px;
  padding-right: 46px;
  box-sizing: border-box;
}

.sticker_emoji-list-item {

}

.sticker_add-emojis {
  position: absolute;
  bottom: 8px;
  right: 8px;
  padding: 4px;
  font-size: 14px;
  width: 28px;
  height: 28px;
}
