.stpack {
  padding: 8px 16px;
  border-radius: 6px;
  border: 1px solid $p500;
  background-color: $p000;

  @media screen and (min-width: 700px) {
    padding: 24px 36px;
  }
}

.stpack__letter-head {
  display: flex;
  position: relative;
  align-items: flex-start;
  padding-bottom: 16px;
  margin-bottom: 16px;
  border-bottom: 1px solid $p500;
}

.stpack__thumbnail {
  flex-shrink: 0;
  width: 160px;
  height: auto;
  margin-right: 8px;
}

.stpack__meta {
  flex-grow: 1;
}

.stpack__title {
  margin-top: 0;
  font-weight: bold;
  font-size: 24px;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}

.stpack__time {
  color: $t100;
  font-size: 14px;
}

.stpack__dropdown-menu {
  position: absolute;
  top: 0;
  right: 0;

  button {
    color: $t100;
    font-size: 28px;
  }
}

.stpack__stickers {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  align-items: flex-start;
}

.stpack__sticker {
  flex-basis: 25%;
  flex-grow: 1;
  flex-shrink: 0;
  padding: 8px;
  box-sizing: border-box;
  border-radius: 6px;

  &:hover {
    background-color: $p500;
  }
}

.stpack__download-button {
  i {
    margin-right: 0.5em;
  }

  a {
    padding: 8px 16px;
    box-sizing: border-box;
    display: block;
    width: 100%;
    height: 100%;
    color: $white;
    font-size: 16px;
    text-decoration: none;

    &:hover {
      text-decoration: none;
    }
  }
}
