.stpack-letter-head {
  display: flex;
  position: relative;
  align-items: flex-start;
  padding-bottom: 16px;
  margin-bottom: 16px;
  border-bottom: 1px solid $p500;
}

.stpack-letter-head__thumbnail {
  flex-shrink: 0;
  width: 105px;
  height: auto;
  margin-right: 8px;

  @media screen and (min-width: 700px) {
    width: 160px;
  }
}

.stpack-letter-head__meta {
  flex-grow: 1;
}

.stpack-letter-head__title {
  font-weight: bold;
  font-size: 18px;

  & > a {
    color: $t500;
  }

  @media screen and (min-width: 700px) {
    font-size: 24px;
  }
}

.stpack-letter-head__time {
  color: $t100;
  font-size: 14px;

  & > i {
    margin-right: 4px;
  }
}

.stpack-letter-head__buttons-wrapper {
  display: flex;
}

.stpack-letter-head__dropdown-menu {
  button {
    font-size: 14px;
  }
}

.stpack-letter-head__download-button {
  margin-right: 4px;

  i {
    margin-right: 0.5em;
  }

  a {
    padding: 8px 16px;
    box-sizing: border-box;
    display: block;
    width: 100%;
    height: 100%;
    color: $white;
    font-size: 14px;
    text-decoration: none;

    &:hover {
      text-decoration: none;
    }

    @media screen and (min-width: 700px) {
      font-size: 16px;
    }
  }
}

.stpack__stickers {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  align-items: flex-start;
}

.stpack__sticker {
  flex-basis: 25%;
  flex-grow: 1;
  flex-shrink: 0;
}

.stpack__compose-description,
.stpack-progress-bar {
  margin-bottom: 16px;
  padding: 16px;
  border-radius: 6px;
  line-height: 1.2;
  border: 1px solid $p500;
  background-color: $p100;
}

.stpack-progress-bar__title {
  margin-bottom: 12px;

  & > i {
    color: $t100;
    margin-right: 0.5em;
  }
}

@keyframes blinking {
  0% { opacity: 0.6; }
  25% { opacity: 1; }
  75% { opacity: 1; }
  100% { opacity: 0.6; }
}

.stpack-progress-bar__backdrop {
  overflow: hidden;
  border-radius: 4px;
  box-sizing: border-box;
  border: 1px solid $p500;
  background-image: linear-gradient(-180deg, $p100 0%, $p500 90%);
}

.stpack-progress-bar__tracker {
  height: 21px;
  border-top-right-radius: 4px;
  border-bottom-right-radius: 4px;
  background-image: linear-gradient(-180deg, $h100 0%, $h500 90%);
  animation-name: blinking;
  animation-duration: 2s;
  animation-iteration-count: infinite;
}

.stpack-failed__text {
  & > i {
    margin-right: 0.25em;
  }
}

.stpack-failed__description {
  margin: 12px 0;
  line-height: 1.2;
}

.stpack-failed__retry {
  display: block;
  margin: 0 0 0 auto;
}
