.success-indicator {
  position: relative;
}

.success-indicator__veal {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  padding: 8px;
  background-color: $p000;
  z-index: 500;

  & > i {
    width: 100%;
    height: 100%;
    text-align: center;
  }
}
