.wizard {
  padding: 8px 16px;
  margin-bottom: 8px;
  border-radius: 6px;
  border: 1px solid $p500;
  background-color: $p000;

  @media screen and (min-width: 700px) {
    padding: 24px 36px;
  }
}

.wizard__form {
  display: flex;
  margin-bottom: 8px;
}

.wizard__input {
  flex-grow: 1;
  margin-right: 8px;
  padding: 4px 8px;
  box-sizing: border-box;
  color: $t500;
  font-size: 14px;
  border-radius: 6px;
  border: 1px solid $p500;
  background-color: $p100;
  transition: 0.1s ease-out;
  font-family: consolas,"Liberation Mono",courier,monospace;

  @media screen and (min-width: 700px) {
    font-size: 16px;
  }

  &:focus {
    border: 1px solid $h100;
    background-color: lighten($h100, 40%);
  }
}

.wizard__submit {
  flex-grow: 0;
  flex-shrink: 0;
  font-size: 16px;
}
