
$p000: #ffffff !default;
$p100: #ecf0f1 !default;
$p500: #bdc3c7 !default;
$t100: #dddddd !default;
$t500: #000000 !default;
$h100: #E67E22 !default;
$h500: #D35400 !default;

$red:   #e74c3c !default;
$blue:  #3498db !default;
$green: #2ecc71 !default;
